.container-fluid {
  background-image: linear-gradient(to bottom, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);
}

.title {
  text-align: center;
}

.list-group {
  list-style: none;
  padding-left: 100px;
}

.check-wrap {
  margin-left: 50px;
}

.check-wrap label {
  font-size: 20px;
  line-height: 24px;
  margin-left: 20px;
  cursor: pointer;
}

.check-wrap input {
  width: 18px;
  height: 18px;
}

.btn {
  width: 500px;
  margin: 20px auto;
}
