.container-fluid {
  background-image: linear-gradient(to bottom, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);
}

.title {
  text-align: center;
}

.list-group {
  list-style: none;
  padding-left: 100px;
}

label {
  font-size: 20px;
  margin-left: 50px;
  cursor: pointer;
  display: inline-block;
}

label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #000;
  background-color: #31B0D5;
  margin-right: 10px;
}

input:checked + label:before {
  background-color: #000;
}

li input {
  display: none;
}

.btn {
  width: 500px;
  margin: 20px auto;
}
